.vertical-container{
    display: flex;
    flex-direction: column;
}

.horizontal-container{
    display: flex;
    max-width: 250px;
}

.horizontal-container-output{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    height: 35px;
    margin: 5px;
    background-color: lightgrey;
}

button{
    margin: 5px;
    width: 40px;
    flex: 1;
}

p{
    margin: 0px;
    display: flex;
}

.output{
    font-size: 14px;
    margin-top: auto;
}

.memory{
    font-size: 12px;
    justify-content: end;
}